@model ClinicaVeterinaria.Models.TipologiaAnimale

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h2>Elimina animale</h2>

    <h3>Sei sicuro di voler eliminare questo animale?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color  mt-3">
        @Html.ActionLink("<", "Index", null, new { @class = "btn ", style = "background-color:darkgrey; color:white; position:absolute;" })

        <input type="submit" value="Elimina" class="btn w-25" style="background-color: cornflowerblue; color: white;" />
    </div>
        }
    </div>
</div>