@model ClinicaVeterinaria.Models.Animale

@{
    ViewBag.Title = "CercaByChip";
}


<div class="d-flex flex-column align-items-center justify-content-center">

    <h2>Cerca il tuo animale</h2>
    <p>Si prega di inserire il numero del microchip:</p>
    <input type="text" name="MicroChip" id="RicercaChip" class="form-control" />
    <input type="button" name="MicroChip" id="btnChip" class="btn mt-1 w-100" value="Cerca" style="background-color:cornflowerblue; color:white" />

    <div class="mt-3" style="width:300px;">
        <div class="card w-100" data-tilt>
            <div id="animale" class="d-flex flex-column align-items-center justify-content-center"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        
        $('.card').hide();
        $('#btnChip').click(function () {
            let InputChip = $('#RicercaChip').val();
            $.ajax({
                url: 'CercaByChipInput',
                method: 'GET',
                data: { 'microchip': InputChip },
                success: function (animale) {
                    if (animale == "ERROR") {
                        $('.card').show();
                        $('#animale').text("");
                        $('#animale').text("Nessun animale trovato in questa clinica con questo chip.")
                    } else {

                        var date = new Date(parseInt(animale.DataInizioRicovero.substr(6)));
                        var today = new Date();
                        var operazione = today.getTime() - date.getTime();
                        var inClinicaDal = Math.floor(operazione / 86400000)
                        

                        $('.card').show();
                        $('#animale').text("");
                        $('#animale').append(
                            (animale.Foto != null ? "<img style='width:250px; height:250px; object-fit:cover;' class='rounded-3' src='/Content/img/" + animale.Foto + "' />" : "<img style='width:250px; height:250px; object-fit:cover;' class='rounded-3' src='/Content/img/no-image.png' />" )
                             + "<br>" +
                            "<p>" + animale.Nome + "<p>" + "<br>" +
                            "Nr microchip 🖲️ " + animale.NumeroMicrochip + "<br>" +
                            "In clinica da " + inClinicaDal + " giorni." + "<br>" +
                            "Dal: " + date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getUTCFullYear()
                            )
                    }
                },
                error: function (er) {
                    $('.card').show();
                    $('#animale').text(er);
                }
            });
        });
    });

</script>